
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Weronika Zak">

    <title>Intrinsic Value</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  </head>

  <body class="overflow-x:hidden">
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Intrinsic Value Calc</a>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search by stock's tick." aria-label="Text input with dropdown button">
        <div class="input-group-append dropdown">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Evaluation Method</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Discount Free Cashflow v1</a>
            <a class="dropdown-item" href="#">Discount Free Cashflow v2</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Multiples</a>
          </div>
        </div>
      </div>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Search</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-12 d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <form>
              
              <div class="form-group">
                <label for="economicGrowth">Economic Growth</label>
                <input type="number" class="form-control" id="economicGrowth" name="economicGrowth" aria-describedby="economicGrowth" placeholder="Economic Growth" value="2.5">
                <small class="form-text text-muted">Economic Growth. Usually between 2.5% - 3%.</small>
              </div>
              
              <div class="form-group">
                <label for="discountRate">Discount Rate</label>
                <input type="number" class="form-control" id="growthRate" placeholder="growthRate" value="10">
                <small class="form-text text-muted">A rate you want the business to be at discount (5% for bear market, up to 20% for bull market).</small>
              </div>

              <div class="form-group">
                <label for="holdYears">Hold Over Years</label>
                <input type="number" class="form-control" id="holdYears" placeholder="holdYears" value="10">
                <small class="form-text text-muted">Hold over x years.</small>
              </div>

              <button type="submit" class="btn btn-primary w-100">Apply</button>
            
            </form>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ val['ticker'] }} - {{ val['name'] }}</h1>
          </div>

          <div class="container col-12">
            <div class="row">
              <div class="col-12 col-lg-9">
                <div class="chart" id="bargraph">
                  <script>
                      var graphs = {{plot | safe}};
                      Plotly.plot('bargraph', graphs);
                  </script>
                </div>
              </div>

            </div>
          </div>
          
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  </body>
</html>
