
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Weronika Zak">

    <title>Intrinsic Value</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Intrinsic Value Calc</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Search</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-12 d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <form>
              
              <div class="form-group">
                <label for="economicGrowth">Economic Growth</label>
                <input type="number" class="form-control" id="economicGrowth" name="economicGrowth" aria-describedby="economicGrowth" placeholder="Economic Growth" value="2.5">
                <small class="form-text text-muted">Economic Growth. Usually between 2.5% - 3%.</small>
              </div>
              
              <div class="form-group">
                <label for="discountRate">Discount Rate</label>
                <input type="number" class="form-control" id="growthRate" placeholder="growthRate" value="10">
                <small class="form-text text-muted">A rate you want the business to be at discount (5% for bear market, up to 20% for bull market).</small>
              </div>

              <div class="form-group">
                <label for="holdYears">Hold Over Years</label>
                <input type="number" class="form-control" id="holdYears" placeholder="holdYears" value="10">
                <small class="form-text text-muted">Hold over x years.</small>
              </div>

              <button type="submit" class="btn btn-primary w-100">Apply</button>
            
            </form>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ val['ticker'] }} - {{ val['name'] }}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>

          <canvas class="my-4" id="myChart" width="900" height="380"></canvas>

          <h2 class="my-2">Stats</h2>
          <div class="container col-12 row">
            <div class="col-6">
              <div class="table-responsive">
                <table class="table table-bordered table-sm">
                  <tbody>
                    <tr>
                      <th class="bg-light"> Cash and Equivalent </th>
                      <td>{{ val["cash_and_eq"] }}</td>
                    </tr>

                    <tr>
                      <th class="bg-light"> Total Debt </th>
                      <td>{{ val["total_debt"] }}</td>
                    </tr>

                    <tr>
                      <th class="bg-light"> Shares Outstanding </th>
                      <td>{{ val["shares_outstanding"] }}</td>
                    </tr>

                    <tr>
                      <th class="bg-light"> Equity Value </th>
                      <td>{{ val["equity_value"] }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="col-6">
              <div class="table-responsive">
                <table class="table table-bordered table-sm">
                  <tbody>
                    <tr>
                      <th class="bg-light"> Intrinsic Value </th>
                      <td>{{ val["price_per_share"] }}</td>
                    </tr>

                    <tr>
                      <th class="bg-light"> Current Value </th>
                      <td>{{ val['current_price_per_share'] }}</td>
                    </tr>

                    <tr>
                      <th class="bg-light"> Difference </th>
                      <td>TODO</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


          <h2 class="my-2">Current Cashflow</h2>
          <div class="table-responsive">
            <table class="table table-bordered table-sm">
              <thead class="thead-light">
                <tr>
                  {% for year in val['cashflows'].keys() %}
                    <th>{{ year }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% for cashflow in val['cashflows'].values() %}
                    <td>{{ cashflow }}</td>
                  {% endfor %}
                </tr>

                <tr>
                  <td>-</td>
                  {% for rate in val['growth_rates'].values() %}
                    <td>{{ rate }}</td>
                  {% endfor %}
                </tr>

                <tr>
                  <th colspan="{{ (val['cashflows']|length)-1 }}">Average Growth Rate:</td>
                  <th>{{ val['avg_growth_rate'] }}</th>
              </tr>
              </tbody>
            </table>
          </div>

          <h2 class="my-2">Future Cashflow</h2>
          <div class="table-responsive">
            <table class="table table-bordered table-sm">
              <thead class="thead-light">
                <tr>
                  {% for year in val['future_cashflows'].keys() %}
                    <th>{{ year }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% for cashflow in val['future_cashflows'].values() %}
                    <td>{{ cashflow }}</td>
                  {% endfor %}
                </tr>

                <tr>
                  {% for PV in val['PV_of_FFCFs'].values() %}
                    <td>{{ PV }}</td>
                  {% endfor %}
                </tr>

                <tr>
                  <th colspan="{{ (val['PV_of_FFCFs']|length)-1 }}">Sum of FFCFs:</td>
                  <th>{{ val['sum_of_FCFs'] }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <!-- Icons -->
    <!-- <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script> -->
    <!-- <script>
      feather.replace()
    </script> -->

    <!-- Graphs -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.1/dist/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: [
                  {% for date in val['chart_dates'] %}
                    "{{ date }}",
                  {% endfor %}
                ],
          datasets: [{
            data: [
              {% for value in val['chart_values'] %}
                      {{ value }},
                {% endfor %}
              ],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 2,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>
  </body>
</html>
